[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
fastapi = "*"
h11 = "*"
pydantic = "*"
starlette = "*"
uvicorn = "*"
websockets = "*"
requests-cache = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
